---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/principal/Banner.astro";
import Contenedor from "@components/principal/Contenedor.astro";

---

<Layout title="Contactános" desc="JLC estamos aquí para ayudar">
    <main>
      <Banner title="Contactános" paddin="32" img="banner/banner-cotactanos.jpg" />
    </main>
    <Contenedor>
        <div class="text-center">
        </div>
        <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-full">
            <div class="m-10">
                <div>
                  <svg id="txt-contactanos" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 248 34"><path stroke="#00004C" stroke-width=".5" d="M7.621 25.454c0 1.587-.188 2.872-.556 3.862-.37.99-.992 1.824-1.87 2.507-.873.683-2.1 1.266-3.677 1.746l-.583-1.477c1.036-.402 1.773-.804 2.208-1.21.431-.41.733-.92.903-1.537.173-.609.258-1.436.258-2.473V6.977c0-1.026-.052-1.728-.151-2.104-.1-.38-.262-.672-.494-.872-.229-.199-.704-.39-1.423-.583v-.864h7.445v.864c-.516.133-.892.262-1.12.395-.229.126-.41.288-.55.484-.132.192-.231.484-.298.871-.062.388-.092.99-.092 1.798v18.488Zm11.356-.377h4.622c.505 0 .928-.03 1.271-.085.34-.063.63-.155.87-.277.24-.129.457-.302.649-.52.195-.222.383-.51.56-.864.177-.358.343-.809.501-1.352.162-.543.358-1.355.594-2.44h1.78l-.354 7.015H13.618v-.864c.726-.188 1.209-.395 1.456-.624.25-.233.412-.557.49-.975.077-.424.114-1.067.114-1.934V6.952c0-.809-.033-1.4-.092-1.769-.06-.37-.155-.654-.288-.857a1.513 1.513 0 0 0-.541-.49c-.221-.123-.605-.263-1.14-.418v-.864h7.424v.864c-.52.144-.889.27-1.106.384a1.59 1.59 0 0 0-.538.447c-.14.192-.247.48-.317.871-.066.392-.103 1.008-.103 1.854v18.103Zm30.046-22.12v4.766h-1.747c-.284-1.008-.642-1.809-1.077-2.407-.434-.595-.94-1.02-1.518-1.274-.575-.255-1.272-.38-2.079-.38-1.209 0-2.289.41-3.236 1.222-.947.816-1.688 2.042-2.23 3.677-.542 1.636-.81 3.611-.81 5.93 0 2.33.22 4.32.666 5.97.45 1.648 1.106 2.888 1.976 3.726.87.842 1.942 1.26 3.214 1.26.962 0 1.75-.14 2.359-.422.615-.28 1.131-.723 1.544-1.325.417-.61.815-1.503 1.19-2.684h1.748v5.029a25.712 25.712 0 0 1-3.399.66 31.027 31.027 0 0 1-3.818.218c-2.985 0-5.245-1.015-6.77-3.046-1.53-2.03-2.293-5.058-2.293-9.087 0-2.521.398-4.733 1.19-6.635.797-1.901 1.961-3.374 3.502-4.412 1.54-1.038 3.38-1.558 5.525-1.558 1.069 0 2.056.055 2.96.166.902.11 1.938.31 3.103.606Zm28.38 0v4.766h-1.747c-.284-1.008-.642-1.809-1.077-2.407-.434-.595-.94-1.02-1.518-1.274-.575-.255-1.272-.38-2.079-.38-1.209 0-2.289.41-3.236 1.222-.947.816-1.688 2.042-2.23 3.677-.541 1.636-.81 3.611-.81 5.93 0 2.33.22 4.32.666 5.97.45 1.648 1.106 2.888 1.976 3.726.87.842 1.942 1.26 3.214 1.26.962 0 1.75-.14 2.359-.422.615-.28 1.131-.723 1.544-1.325.417-.61.815-1.503 1.19-2.684h1.748v5.029a25.712 25.712 0 0 1-3.399.66 31.029 31.029 0 0 1-3.818.218c-2.985 0-5.245-1.015-6.77-3.046-1.53-2.03-2.293-5.058-2.293-9.087 0-2.521.398-4.733 1.19-6.635.796-1.901 1.961-3.374 3.502-4.412 1.54-1.038 3.38-1.558 5.525-1.558 1.069 0 2.056.055 2.96.166.902.11 1.938.31 3.103.606Zm11.274 23.966c-2.443 0-4.312-.73-5.595-2.193-1.29-1.466-1.93-3.63-1.93-6.495 0-1.975.338-3.64 1.013-5.003.674-1.362 1.6-2.37 2.775-3.035 1.176-.664 2.514-.997 4.021-.997 2.514 0 4.42.746 5.713 2.234 1.294 1.484 1.939 3.619 1.939 6.403 0 1.986-.325 3.659-.973 5.017-.645 1.363-1.56 2.382-2.746 3.061-1.187.672-2.591 1.008-4.217 1.008ZM84.48 17.86c0 2.44.384 4.316 1.154 5.627.77 1.307 1.872 1.96 3.31 1.96.792 0 1.463-.192 2.016-.576.553-.384 1.002-.9 1.349-1.554.342-.654.593-1.407.748-2.267.151-.86.228-1.758.228-2.692 0-1.743-.191-3.19-.575-4.338-.38-1.152-.899-1.994-1.559-2.533a3.462 3.462 0 0 0-2.259-.809c-1.426 0-2.517.624-3.276 1.868-.756 1.245-1.136 3.017-1.136 5.314Zm32.873 8.695h-6.951v-.864c.461-.144.792-.27.991-.377.199-.11.365-.262.502-.45.132-.192.239-.487.317-.886.073-.406.114-1.016.114-1.832v-4.71c0-.843-.022-1.607-.07-2.286-.044-.684-.126-1.248-.24-1.684-.114-.44-.247-.783-.405-1.027a2.6 2.6 0 0 0-.564-.631 2.673 2.673 0 0 0-.748-.41c-.28-.103-.653-.155-1.113-.155-.457 0-.892.092-1.305.277-.413.18-.866.495-1.36.941-.494.447-.852.894-1.073 1.337-.221.443-.331.956-.331 1.536v6.728c0 1.033.044 1.753.136 2.156.096.406.273.712.538.923.262.207.697.391 1.301.55v.864h-6.918v-.864c.461-.144.785-.266.98-.37a1.49 1.49 0 0 0 .494-.446c.133-.192.24-.48.317-.871.078-.392.115-1 .115-1.835v-7.754c0-.757-.012-1.366-.034-1.828-.022-.465-.107-.834-.247-1.111a1.362 1.362 0 0 0-.645-.62c-.287-.137-.696-.255-1.227-.351v-.935h5.204l-.195 2.563.247.063c.873-.86 1.574-1.473 2.108-1.843a7.377 7.377 0 0 1 1.618-.853 5.07 5.07 0 0 1 1.74-.299c.637 0 1.205.074 1.706.225.498.148.936.373 1.32.687.379.307.696.69.943 1.152.247.462.435 1.008.557 1.65.125.643.184 1.46.184 2.449V22.1c0 .82.026 1.414.07 1.784.048.369.129.653.247.856.118.207.291.377.512.513.225.137.612.281 1.165.436v.864Zm2.035-16.04c.586-.099 1.061-.272 1.426-.516.365-.248.652-.558.859-.938.206-.38.368-.853.483-1.422.118-.576.243-1.406.368-2.5h2.506V9.57h5.702v1.847h-5.702v7.886c0 1.145.045 2.06.137 2.74.096.68.273 1.207.531 1.591.261.388.552.661.88.828.332.166.756.247 1.272.247.476 0 .914-.092 1.327-.284a5.023 5.023 0 0 0 1.213-.824l.796.923c-.833.842-1.622 1.455-2.374 1.835a5.063 5.063 0 0 1-2.315.565c-1.514 0-2.646-.454-3.383-1.362-.745-.905-1.113-2.326-1.113-4.261v-9.884h-2.613v-.901Zm23.415 13.743-.265-.062c-1.025.993-1.983 1.694-2.886 2.112a6.83 6.83 0 0 1-2.864.616c-.896 0-1.684-.177-2.366-.531a3.733 3.733 0 0 1-1.567-1.492c-.365-.643-.545-1.385-.545-2.223 0-1.754.848-3.105 2.543-4.054 1.703-.956 4.253-1.51 7.648-1.669v-1.181c0-1.263-.118-2.256-.354-2.984-.236-.727-.605-1.259-1.113-1.599-.505-.343-1.18-.513-2.027-.513-.914 0-1.651.248-2.212.739-.556.494-.976 1.233-1.26 2.215h-2.311v-2.356c1.131-.554 2.071-.963 2.823-1.226a16.581 16.581 0 0 1 2.256-.624 11.599 11.599 0 0 1 2.292-.225c1.169 0 2.105.189 2.805.565.708.373 1.235.945 1.589 1.72.353.772.53 1.94.53 3.497v6.21c0 .88.008 1.5.019 1.865.011.362.044.698.103 1.012.059.307.151.554.265.739.118.184.292.343.516.472.233.13.609.266 1.125.41v.864h-4.832l.088-2.297Zm-.302-5.826c-2.389.007-4.172.336-5.359.982-1.187.643-1.78 1.614-1.78 2.913 0 .706.132 1.267.401 1.673.273.406.616.69 1.025.85.413.15.899.228 1.463.228.8 0 1.526-.192 2.178-.583a4.215 4.215 0 0 0 1.526-1.533c.365-.638.546-1.27.546-1.894v-2.636Zm1.504-17.354v.739l-5.592 5.907-1.146-.923 3.653-5.723h3.085Zm19.438 8.832v3.722h-2.241c-.199-.753-.45-1.348-.744-1.783-.292-.432-.631-.739-1.018-.912-.39-.174-.873-.259-1.452-.259-.822 0-1.552.27-2.189.801-.634.532-1.135 1.344-1.508 2.437-.368 1.093-.552 2.426-.552 4.003 0 1.008.07 1.93.213 2.762.14.838.38 1.55.719 2.141a3.79 3.79 0 0 0 1.36 1.392c.564.329 1.264.495 2.101.495a5.25 5.25 0 0 0 2.263-.491c.704-.325 1.43-.901 2.182-1.724l1.002 1.292c-.597.66-1.127 1.174-1.588 1.536a7.597 7.597 0 0 1-3.022 1.436 7.873 7.873 0 0 1-1.666.166c-2.223 0-3.922-.75-5.098-2.248-1.175-1.503-1.762-3.667-1.762-6.499 0-1.768.329-3.334.985-4.7.659-1.37 1.584-2.422 2.771-3.16 1.191-.743 2.558-1.116 4.113-1.116.962 0 1.854.06 2.669.174.818.11 1.64.291 2.462.535Zm1.648.606c.586-.1 1.061-.274 1.426-.517.365-.248.652-.558.859-.938.206-.38.368-.853.482-1.422.118-.576.244-1.406.369-2.5h2.506V9.57h5.702v1.847h-5.702v7.886c0 1.145.045 2.06.137 2.74.096.68.272 1.207.53 1.591.262.388.553.661.881.828.332.166.756.247 1.272.247.475 0 .914-.092 1.327-.284a5 5 0 0 0 1.212-.824l.796.923c-.832.842-1.621 1.455-2.373 1.835a5.066 5.066 0 0 1-2.315.565c-1.515 0-2.646-.454-3.383-1.362-.745-.905-1.113-2.326-1.113-4.261v-9.884h-2.613v-.901Zm23.415 13.742-.265-.062c-1.025.993-1.983 1.694-2.886 2.112a6.83 6.83 0 0 1-2.864.616c-.896 0-1.685-.177-2.366-.531a3.727 3.727 0 0 1-1.567-1.492c-.365-.643-.545-1.385-.545-2.223 0-1.754.847-3.105 2.543-4.054 1.703-.956 4.253-1.51 7.648-1.669v-1.181c0-1.263-.118-2.256-.354-2.984-.236-.727-.605-1.259-1.113-1.599-.505-.343-1.18-.513-2.027-.513-.914 0-1.652.248-2.212.739-.556.494-.977 1.233-1.26 2.215h-2.311v-2.356c1.131-.554 2.071-.963 2.823-1.226a16.581 16.581 0 0 1 2.256-.624 11.591 11.591 0 0 1 2.292-.225c1.168 0 2.105.189 2.805.565.708.373 1.235.945 1.588 1.72.354.772.531 1.94.531 3.497v6.21c0 .88.008 1.5.019 1.865.011.362.044.698.103 1.012.059.307.151.554.265.739.118.184.291.343.516.472.232.13.608.266 1.124.41v.864h-4.832l.089-2.297Zm-.302-5.826c-2.389.007-4.173.336-5.359.982-1.187.643-1.781 1.614-1.781 2.913 0 .706.133 1.267.402 1.673.273.406.616.69 1.025.85.413.15.899.228 1.463.228.8 0 1.526-.192 2.178-.583a4.215 4.215 0 0 0 1.526-1.533c.365-.638.546-1.27.546-1.894v-2.636Zm24.978 8.123h-6.952v-.864c.461-.144.793-.27.992-.377.199-.11.365-.262.501-.45.133-.192.24-.487.317-.886.074-.406.114-1.016.114-1.832v-4.71c0-.843-.022-1.607-.07-2.286-.044-.684-.125-1.248-.239-1.684-.114-.44-.247-.783-.406-1.027a2.56 2.56 0 0 0-.564-.631 2.66 2.66 0 0 0-.748-.41c-.28-.103-.652-.155-1.113-.155-.457 0-.892.092-1.305.277-.412.18-.866.495-1.36.941-.493.447-.851.894-1.072 1.337-.221.443-.332.956-.332 1.536v6.728c0 1.033.044 1.753.137 2.156.095.406.272.712.538.923.261.207.696.391 1.301.55v.864h-6.918v-.864c.46-.144.785-.266.98-.37.195-.106.358-.258.494-.446.133-.192.239-.48.317-.871.077-.392.114-1 .114-1.835v-7.754c0-.757-.011-1.366-.033-1.828-.022-.465-.107-.834-.247-1.111a1.37 1.37 0 0 0-.645-.62c-.287-.137-.697-.255-1.227-.351v-.935h5.204l-.195 2.563.246.063c.874-.86 1.574-1.473 2.109-1.843a7.332 7.332 0 0 1 1.618-.853c.549-.2 1.131-.299 1.739-.299.638 0 1.206.074 1.707.225a3.713 3.713 0 0 1 2.263 1.839c.247.462.435 1.008.556 1.65.126.643.185 1.46.185 2.449V22.1c0 .82.026 1.414.07 1.784.048.369.129.653.247.856.118.207.291.377.512.513.225.137.612.281 1.165.436v.864Zm10.762.37c-2.444 0-4.312-.732-5.595-2.194-1.29-1.466-1.931-3.63-1.931-6.495 0-1.975.339-3.64 1.013-5.003.675-1.362 1.6-2.37 2.776-3.035 1.175-.664 2.513-.997 4.021-.997 2.513 0 4.419.746 5.713 2.234 1.293 1.484 1.938 3.619 1.938 6.403 0 1.986-.324 3.659-.973 5.017-.645 1.363-1.559 2.382-2.746 3.061-1.186.672-2.591 1.008-4.216 1.008Zm-4.198-9.065c0 2.44.383 4.316 1.154 5.627.77 1.307 1.872 1.96 3.309 1.96.793 0 1.464-.192 2.016-.576.553-.384 1.003-.9 1.349-1.554.343-.654.594-1.407.749-2.267.151-.86.228-1.758.228-2.692 0-1.743-.191-3.19-.575-4.338-.379-1.152-.899-1.994-1.559-2.533a3.463 3.463 0 0 0-2.259-.809c-1.427 0-2.518.624-3.277 1.868-.755 1.245-1.135 3.017-1.135 5.314Zm27.51-4.228h-1.692c-.258-.753-.564-1.344-.917-1.776-.354-.436-.752-.739-1.202-.912-.446-.177-.991-.266-1.636-.266-.94 0-1.692.222-2.252.665-.557.443-.833 1.045-.833 1.809 0 .54.11.986.331 1.34.222.355.568.683 1.04.994.472.302 1.301.708 2.491 1.214 1.198.528 2.123 1.012 2.776 1.455.652.443 1.164.956 1.533 1.547.372.587.556 1.289.556 2.097 0 .95-.158 1.747-.475 2.397a4.103 4.103 0 0 1-1.342 1.58c-.578.41-1.26.702-2.056.879-.793.177-1.659.27-2.599.27a18.66 18.66 0 0 1-2.871-.219 28.638 28.638 0 0 1-2.72-.564v-3.648h1.729c.317 1.033.789 1.787 1.411 2.256.62.465 1.478.697 2.573.697.42 0 .837-.044 1.246-.133a3.27 3.27 0 0 0 1.08-.45c.32-.207.571-.491.763-.85.184-.354.28-.8.28-1.343 0-.606-.118-1.1-.358-1.48-.232-.385-.597-.736-1.094-1.053-.491-.314-1.357-.739-2.603-1.278-1.072-.45-1.931-.89-2.58-1.318-.645-.428-1.153-.934-1.525-1.517-.369-.58-.553-1.267-.553-2.064 0-.975.261-1.824.781-2.537.527-.72 1.283-1.27 2.27-1.65.988-.38 2.146-.573 3.472-.573.774 0 1.526.04 2.249.122.726.081 1.633.24 2.727.476v3.833Z"/></svg>
                </div>
                <h3 class="font-medium text-xl text-principal-800 mt-4">Estamos aquí para ayudar.</h3>
                <p class="text-lg leading-relaxed text-slate-500 mt-3">
                ¿Tienes algo que decir? <br/> Rellene el formulario, envíe un correo electrónico o llame al teléfono.
                </p>
                <div class="mt-5">
                    <div class="flex items-center mt-2 space-x-2 text-principal-600">
                      <svg viewBox="0 0 24 24" class="text-principal-400 w-4 h-4" astro-icon="uil:map-marker"><path fill="currentColor" d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8 8 0 0 0-8-8zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 0 1 12 0c0 3.34-3.87 7.66-6 9.65zM12 6a4 4 0 1 0 4 4 4 4 0 0 0-4-4zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"></path></svg>
                      <span class="hover:scale-110 transition-transform duration-300">Tomas Catari N° 825—Los Olivos - Lima</span>
                    </div>
                    <div class="flex items-center mt-2 space-x-2 text-principal-600">
                      <svg viewBox="0 0 24 24" class="text-principal-400 w-4 h-4" astro-icon="uil:envelope"><path fill="currentColor" d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.41 2-5.88 5.88a1 1 0 0 1-1.42 0L5.41 6zM20 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7.41l5.88 5.88a3 3 0 0 0 4.24 0L20 7.41z"></path></svg>
                      <a href='mailto:jcorreap@uni.pe?cc=jcorreap@uni.pe&subject=Informes'
                      title='¡Contactanos!'
                      class='hover:scale-110 transition-transform duration-300'
                      rel="noopener norefferer"
                      >jcorreap@uni.pe</a>
                    </div>
                    <div class="flex items-center mt-2 space-x-2 text-principal-600">
                      <svg viewBox="0 0 24 24" class="text-principal-400 w-4 h-4" astro-icon="uil:phone"><path fill="currentColor" d="M19.44 13c-.22 0-.45-.07-.67-.12a9.44 9.44 0 0 1-1.31-.39 2 2 0 0 0-2.48 1l-.22.45a12.18 12.18 0 0 1-2.66-2 12.18 12.18 0 0 1-2-2.66l.42-.28a2 2 0 0 0 1-2.48 10.33 10.33 0 0 1-.39-1.31c-.05-.22-.09-.45-.12-.68a3 3 0 0 0-3-2.49h-3a3 3 0 0 0-3 3.41 19 19 0 0 0 16.52 16.46h.38a3 3 0 0 0 2-.76 3 3 0 0 0 1-2.25v-3a3 3 0 0 0-2.47-2.9zm.5 6a1 1 0 0 1-.34.75 1.05 1.05 0 0 1-.82.25A17 17 0 0 1 4.07 5.22a1.09 1.09 0 0 1 .25-.82 1 1 0 0 1 .75-.34h3a1 1 0 0 1 1 .79q.06.41.15.81a11.12 11.12 0 0 0 .46 1.55l-1.4.65a1 1 0 0 0-.49 1.33 14.49 14.49 0 0 0 7 7 1 1 0 0 0 .76 0 1 1 0 0 0 .57-.52l.62-1.4a13.69 13.69 0 0 0 1.58.46q.4.09.81.15a1 1 0 0 1 .79 1z"></path></svg><a class='hover:scale-110 transition-transform duration-300' href="tel:+51993788178">993788178</a>
                    </div>
                </div>
            </div>
            <div>
                <form id="envio-correo">
                    
                    <div class="mb-5">
                        <input type="text" placeholder="Nombre completo" required="" class="w-full px-4 py-3 border-2 placeholder:text-principal-800 rounded-md outline-none focus:ring-4 border-principal-300 focus:border-principal-600 ring-principal-100" name="nombrecompleto" id="nombrecompleto">
                        
                    </div>
                    <div class="mb-5">
                        <label for="correocliente" class="sr-only">Correo</label>
                        <input id="correocliente" name="correocliente" type="email" placeholder="Correo" name="email" required="" class="w-full px-4 py-3 border-2 placeholder:text-principal-800 rounded-md outline-none focus:ring-4 border-principal-300 focus:border-principal-600 ring-principal-100">
                        
                    </div>
                    <div class="mb-3">
                        <textarea name="mensaje" id="mensaje" required="" placeholder="Tu mensaje" class="w-full px-4 py-3 border-2 placeholder:text-principal-800 rounded-md outline-none h-36 focus:ring-4 border-principal-300 focus:border-principal-600 ring-principal-100"></textarea>
                        
                    </div>
                    <button id="btn-contact" class="mx-auto rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-principal-200 w-full px-6 py-3 bg-principal text-white hover:bg-slate-900 border-2 border-transparent">
                      <svg id="spinerflecha" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="inline hidden bi bi-arrow-repeat animate-spin" viewBox="0 0 16 16">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                      </svg> <span id="text-enviar">ENVIAR</span>
                    </button>
                    <div id="result" class="mt-3 text-center"></div>
                </form>
                <a class="hidden sendthank" href="/gracias">gracias</a>
            </div>
        </div>
    </Contenedor>
  </Layout>

  <style>
    #txt-contactanos * {
      fill-opacity: 0;
      transition: fill-opacity 1s;
    }

    #txt-contactanos.finished * {
      fill-opacity: 1;
    }
    .font-medium {
        font-weight: 500
    }
  </style>
  <script>
    const form = document.getElementById("form");
    const result = document.getElementById("result");

    new Vivus('txt-contactanos', {duration: 200, type: 'sync', animTimingFunction: Vivus.EASE});
  
   
    const btn = document.getElementById('btn-contact');
    const txt = document.getElementById('text-enviar');
    const spinerflecha = document.getElementById('spinerflecha')

    document.getElementById('envio-correo')
    .addEventListener('submit', function(event) {
        event.preventDefault();

        txt.html = 'Enviando...';
        spinerflecha.classList.remove('hidden');
        btn.classList.remove('bg-verde')
        btn.classList.add('bg-verde-500')        

        const serviceID = 'default_service';
        const templateID = 'template_7zbyf5c';

        emailjs.sendForm(serviceID, templateID, this)
        .then(() => {
            btn.value = 'Enviando';
            document.querySelector("a.sendthank").click()
        }, (err) => {
            btn.value = 'Enviar Email';
            alert(JSON.stringify(err));
        });
        
    });

</script>