---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/principal/Banner.astro";
import Contenedor from "@components/principal/Contenedor.astro";
import Detalleservicio from "@components/servicios/Detalleservicio.astro";
import { tramites } from "@utils/data";
---

<Layout title="Servicio de trámites" desc="Tramíta el suministro eléctro en ENEL y LUZ DEL SUR">
  <main>
    <Banner title="Servicios / trámites" paddin="32" img="banner/banner-energia.jpg" />
  </main>
  <Contenedor>
    <Detalleservicio {...tramites} />
  </Contenedor>
</Layout>
