---
import Layout from "@layouts/PageLayout.astro";
import MapaCorreo from "@components/principal/MapaCorreo.astro";
const meta = {
  title: "Inicio",
  description: "Empresa dedicada a consultoria y proyectos",
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section
    class="relative bg-[url(/imagenes/banner/banner-bg.jpg)] bg-cover bg-center bg-no-repeat"
  >
    <div
      class="absolute bg-naranja/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25"
    >
    </div>

    <div
      class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-5/6 lg:items-center lg:px-8"
    >
      <div
        class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24"
      >
        <div class="flex flex-col w-full mb-12 text-center">
          <h1
            class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-white bg-principal md:text-5xl lg:text-6xl lg:max-w-7xl"
          >
            JLC consultoría y proyectos
          </h1>
          <p
            class="max-w-xl mx-auto mt-8 text-lg leading-relaxed text-center text-principal-500 bg-white"
          >
          Contamos con Ingenieros Electricistas y especialistas en diseño de proyectos eléctricos en media y baja tensión, ingeniería de detalles, Memorias Descriptivas, Memorias de Cálculos, Especificaciones Técnicas y plaños eléctricos en general; para el desarrollo de los mismos nos basamos en el Código Nacional de Electricidad y normas internacionales como IEC, ANSI, VDE, etc. La supervisión de nuestras obras está dirigidos por profesionales de larga trayectoria y experiencia comprobada, garantizando el fiel cumplimiento de lo estipulado en los plaños y normas eléctricas vigentes.
          </p>
        </div>
      </div>
    </div>
  </section> 

  <!-- ====== Servicios -->
  <section class="bg-white pt-[120px] pb-[110px] lg:pt-[150px]">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <section
        class="relative flex h-32 sm:h-80 items-end bg-gray-900 lg:col-span-5 lg:h-full xl:col-span-6"
      >
        <img
          alt="Night"
          src="/imagenes/banner/banner-1.jpg"
          class="absolute inset-0 h-full w-full object-cover opacity-80"
        />

        <div class="hidden lg:relative lg:block lg:p-12">
          <a class="block text-white" href="/">
            <span class="sr-only">Home</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-20 sm:h-28"
              viewBox="0 0 779 422"
              fill="none"
              ><path
                fill="#F8AF3E"
                stroke="#fff"
                stroke-width="6"
                d="m639.134 216.476-48.263 121.893 139.714-147.507-43.045 2.598 70.447-125.639-59.509 16.386 28.673-59.472-74.289 24.739-48.065 100.365 37.943-4.656-43.263 82.7 39.657-11.407Z"
              ></path><path
                fill="#ffffff"
                d="M0 196.5h84V114c0-19.2 15.667-23 23.5-22.5H626L665.5 9H37C7.4 9 0 33.666 0 46v150.5Z"
              ></path><path
                fill="#ffffff"
                d="M0 385V235.5h84V315c0 18.4 15.333 23 23 23h518l41.5 84H37c-29.6 0-37-24.667-37-37Z"
              ></path><path
                fill="#ffffff"
                d="m287.54 134.298 25.749-.47c4.292-.079 5.335 1.601 3.13 5.039l-76.072 118.609c-8.599 13.408-19.663 23.888-33.191 31.44-13.418 7.38-28.096 11.216-44.036 11.507l-30.654.559c-16.144.295-26.295-3.087-30.452-10.147-4.156-7.059-1.88-17.378 6.83-30.958l15.545-24.238c2.315-3.61 5.618-5.454 9.91-5.532l26.055-.476c4.292-.078 5.28 1.688 2.965 5.298l-14.553 22.69c-3.528 5.501-4.735 9.43-3.622 11.788 1.427 2.183 5.309 3.216 11.644 3.1l18.086-.33c6.539-.119 11.854-1.32 15.943-3.604 4.201-2.455 8.065-6.433 11.593-11.933l74.914-116.804c2.315-3.61 5.721-5.456 10.216-5.538ZM359.144 296.844l-100.85 1.841c-4.291.079-5.279-1.687-2.964-5.297l99.389-154.965c2.315-3.61 5.619-5.454 9.91-5.533l26.056-.475c4.291-.079 5.28 1.687 2.964 5.297l-82.687 128.923c-1.212 1.891-.592 2.814 1.86 2.769l64.679-1.181c4.087-.074 4.918 1.779 2.492 5.561l-11.245 17.534c-2.315 3.609-5.517 5.452-9.604 5.526ZM470.484 294.812l-33.413.61c-16.144.294-26.294-3.088-30.451-10.147s-1.881-17.379 6.829-30.959l52.423-81.737c8.71-13.58 19.774-24.06 33.192-31.44 13.417-7.38 28.198-11.217 44.343-11.512l33.412-.61c15.94-.291 25.933 3.179 29.98 10.41 4.361 7.056 2.242 17.287-6.358 30.695l-7.772 12.119c-2.426 3.782-5.886 5.714-10.382 5.796l-25.749.47c-4.292.078-5.225-1.773-2.799-5.555l6.78-10.572c3.528-5.501 4.578-9.342 3.15-11.525-1.113-2.358-4.939-3.477-11.478-3.358l-20.845.381c-6.335.116-11.705 1.403-16.109 3.862-4.09 2.283-7.899 6.175-11.427 11.675l-50.439 78.643c-3.528 5.501-4.735 9.43-3.622 11.789 1.428 2.182 5.309 3.215 11.644 3.1l20.845-.381c6.539-.119 11.854-1.32 15.944-3.604 4.404-2.458 8.37-6.438 11.898-11.939l6.781-10.572c2.425-3.781 5.784-5.711 10.075-5.79l25.749-.47c4.496-.082 5.531 1.768 3.106 5.55l-7.773 12.119c-8.599 13.408-19.765 23.889-33.498 31.445-13.418 7.38-28.096 11.216-44.036 11.507Z"
              ></path></svg
            >
          </a>

          <h2
            class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl"
          >
            Bienvenidos
          </h2>

          <p class="mt-4 leading-relaxed text-white/90">
            Somos profesionales con mas de 15 años de Experiencia, con cursos y
            Diplomados en Seguridad.
          </p>
        </div>
      </section>

      <main
        aria-label="Main"
        class="flex items-center justify-center px-8 sm:px-12 lg:col-span-7 lg:px-16 xl:col-span-6"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <div class="relative -mt-16 block lg:hidden">
            <a
              class="inline-flex h-20 w-20 items-center justify-center bg-white text-blue-600 sm:h-32 sm:w-32"
              href="/"
            >
              <span class="sr-only">Home</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-20 sm:h-28"
                viewBox="0 0 779 422"
                fill="none"
                ><path
                  fill="#F8AF3E"
                  stroke="#fff"
                  stroke-width="6"
                  d="m639.134 216.476-48.263 121.893 139.714-147.507-43.045 2.598 70.447-125.639-59.509 16.386 28.673-59.472-74.289 24.739-48.065 100.365 37.943-4.656-43.263 82.7 39.657-11.407Z"
                ></path><path
                  fill="#00004C"
                  d="M0 196.5h84V114c0-19.2 15.667-23 23.5-22.5H626L665.5 9H37C7.4 9 0 33.666 0 46v150.5Z"
                ></path><path
                  fill="#52A567"
                  d="M0 385V235.5h84V315c0 18.4 15.333 23 23 23h518l41.5 84H37c-29.6 0-37-24.667-37-37Z"
                ></path><path
                  fill="#00004C"
                  d="m287.54 134.298 25.749-.47c4.292-.079 5.335 1.601 3.13 5.039l-76.072 118.609c-8.599 13.408-19.663 23.888-33.191 31.44-13.418 7.38-28.096 11.216-44.036 11.507l-30.654.559c-16.144.295-26.295-3.087-30.452-10.147-4.156-7.059-1.88-17.378 6.83-30.958l15.545-24.238c2.315-3.61 5.618-5.454 9.91-5.532l26.055-.476c4.292-.078 5.28 1.688 2.965 5.298l-14.553 22.69c-3.528 5.501-4.735 9.43-3.622 11.788 1.427 2.183 5.309 3.216 11.644 3.1l18.086-.33c6.539-.119 11.854-1.32 15.943-3.604 4.201-2.455 8.065-6.433 11.593-11.933l74.914-116.804c2.315-3.61 5.721-5.456 10.216-5.538ZM359.144 296.844l-100.85 1.841c-4.291.079-5.279-1.687-2.964-5.297l99.389-154.965c2.315-3.61 5.619-5.454 9.91-5.533l26.056-.475c4.291-.079 5.28 1.687 2.964 5.297l-82.687 128.923c-1.212 1.891-.592 2.814 1.86 2.769l64.679-1.181c4.087-.074 4.918 1.779 2.492 5.561l-11.245 17.534c-2.315 3.609-5.517 5.452-9.604 5.526ZM470.484 294.812l-33.413.61c-16.144.294-26.294-3.088-30.451-10.147s-1.881-17.379 6.829-30.959l52.423-81.737c8.71-13.58 19.774-24.06 33.192-31.44 13.417-7.38 28.198-11.217 44.343-11.512l33.412-.61c15.94-.291 25.933 3.179 29.98 10.41 4.361 7.056 2.242 17.287-6.358 30.695l-7.772 12.119c-2.426 3.782-5.886 5.714-10.382 5.796l-25.749.47c-4.292.078-5.225-1.773-2.799-5.555l6.78-10.572c3.528-5.501 4.578-9.342 3.15-11.525-1.113-2.358-4.939-3.477-11.478-3.358l-20.845.381c-6.335.116-11.705 1.403-16.109 3.862-4.09 2.283-7.899 6.175-11.427 11.675l-50.439 78.643c-3.528 5.501-4.735 9.43-3.622 11.789 1.428 2.182 5.309 3.215 11.644 3.1l20.845-.381c6.539-.119 11.854-1.32 15.944-3.604 4.404-2.458 8.37-6.438 11.898-11.939l6.781-10.572c2.425-3.781 5.784-5.711 10.075-5.79l25.749-.47c4.496-.082 5.531 1.768 3.106 5.55l-7.773 12.119c-8.599 13.408-19.765 23.889-33.498 31.445-13.418 7.38-28.096 11.216-44.036 11.507Z"
                ></path></svg
              >
            </a>

            <h1
              class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
            >
              Servicios
            </h1>

            <p class="mt-4 leading-relaxed text-gray-500">
              Somos profesionales con mas de 15 años de Experiencia, con cursos
              y Diplomados en Seguridad.
            </p>
          </div>

          <div>
            <article class="flex bg-white transition hover:shadow-xl mb-8">
              <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                <time
                  datetime="2022-10-10"
                  class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
                >
                  <span>Servicios</span>
                  <span class="w-px flex-1 bg-gray-900/10"></span>
                  <span>Tramites</span>
                </time>
              </div>

              <div class="hidden sm:block sm:basis-56">
                <img
                  alt="Tramites electronícos"
                  src="/imagenes/cajasinicio/tramites-electricos.png"
                  class="aspect-square h-full w-full object-cover hover:scale-75"
                />
              </div>

              <div class="flex flex-1 flex-col justify-between">
                <div
                  class="border-l border-gray-900/10 p-4 sm:border-l-transparent sm:p-6"
                >
                  <a href="#">
                    <h3 class="font-bold uppercase text-gray-900">
                      TRAMÍTES ELECTRÍCOS ENEL/LUZ DEL SUR
                    </h3>
                  </a>

                  <ul
                    class="mt-2 text-sm leading-relaxed text-gray-700 line-clamp-3"
                  >
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span>Plaños Electricos en Baja y Media Tensión.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span>Carta de Solicitud de Aumento de Carga.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span
                        >Carta de Solicitud de Nuevo Suministro (nuevo medidor)</span
                      >
                    </li>
                  </ul>
                </div>
                <div class="sm:flex sm:items-end sm:justify-end">
                  <a
                    href="#"
                    class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
                  >
                    Leer más
                  </a>
                </div>
              </div>
            </article>

            <article class="flex bg-white transition hover:shadow-xl mb-8">
              <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                <time
                  datetime="2022-10-10"
                  class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
                >
                  <span>ASESORÍA</span>
                  <span class="w-px flex-1 bg-gray-900/10"></span>
                  <span>INDECI</span>
                </time>
              </div>

              <div class="hidden sm:block sm:basis-56">
                <img
                  alt="Guitar"
                  src="/imagenes/cajasinicio/ascesoria.png"
                  class="aspect-square h-full w-full object-cover hover:scale-75"
                />
              </div>

              <div class="flex flex-1 flex-col justify-between">
                <div
                  class="border-l border-gray-900/10 p-4 sm:border-l-transparent sm:p-6"
                >
                  <a href="#">
                    <h3 class="font-bold uppercase text-gray-900">
                      ASESORÍA DEFENSA CIVIL
                    </h3>
                  </a>

                  <span class="text-sm">Expedientes INDECI</span>
                  <ul
                    class="mt-2 text-sm leading-relaxed text-gray-700 line-clamp-3"
                  >
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span>Plano de Ubicacion de Local.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span>Plano de Distribucion Arquitectonica (Actualizado)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span>Plano de senalizacion (Seguridad)</span
                      >
                    </li>
                  </ul>
                </div>
                <div class="sm:flex sm:items-end sm:justify-end">
                  <a
                    href="#"
                    class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
                  >
                    Leer más
                  </a>
                </div>
              </div>
            </article>


            <article class="flex bg-white transition hover:shadow-xl">
              <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                <time
                  datetime="2022-10-10"
                  class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
                >
                  <span>SERVICIOS</span>
                  <span class="w-px flex-1 bg-gray-900/10"></span>
                  <span>ADICIONALES</span>
                </time>
              </div>

              <div class="hidden sm:block sm:basis-56">
                <img
                  alt="Guitar"
                  src="/imagenes/cajasinicio/servicios-adicionales.png"
                  class="aspect-square h-full w-full object-cover hover:scale-75"
                />
              </div>

              <div class="flex flex-1 flex-col justify-between">
                <div
                  class="border-l border-gray-900/10 p-4 sm:border-l-transparent sm:p-6"
                >
                  <a href="#">
                    <h3 class="font-bold uppercase text-gray-900">
                      SERVICIOS ADICIONALES
                    </h3>
                  </a>
                  <ul
                    class="mt-2 text-sm leading-relaxed text-gray-700 line-clamp-3"
                  >
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      <span> Calculos de Luminotecnia, desarrollo de
                        proyectos de Íluminacion, empleando el
                        DIALux y las normas vigentes para los
                        diversos ambientes tanto en Luxes como
                        en calidad por tipo de tarea visual o
                        actividad.</span>
                    </li>                    
                  </ul>
                </div>
                <div class="sm:flex sm:items-end sm:justify-end">
                  <a
                    href="#"
                    class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
                  >
                    Leer más
                  </a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </main>
    </div>
  </section>
<!-- ====== Servicios FIN -->


  <!-- ====== Hero Section Start -->
  <div class="relative bg-white pt-[120px] pb-[110px] lg:pt-[150px]">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4 lg:w-6/12">
          <div class="hero-content">
            <h1
              class="text-dark mb-3 text-4xl font-bold leading-snug sm:text-[42px] lg:text-[40px] xl:text-[42px]"
            >
              PROTEGE A TU
              <br />
              PERSONAL Y<br />
              TUS EQUÍPOS.
            </h1>
            <p class="text-body-color mb-8 max-w-full text-lg">
              Los errores en un Sistema Eléctrico representan un riesgo para la
              integridad de los operarios y también para las máquinas que están
              manipulando. Y el alcance varía desde lesiones menores hasta el
              deceso de una persona. Análogamente, en las operaciones se pueden
              presentar fallas o daños costosos e irreparables a los equipos e
              instalaciones. Nuestro equipo ofrece soluciones a diversos
              problemas de redes de energía.Los errores en un SistemaEléctrico
              representan unriesgo para la integridadde los operarios y
              tambiénpara las máquinas queestán manipulando. Y elalcance varía
              desdelesiones menores hasta eldeceso de una persona.Análogamente,
              en lasoperaciones se puedenpresentar fallas o dañoscostosos e
              irreparables alos equipos einstalaciones. Nuestroequipo ofrece
              soluciones adiversos problemas deredes de energía.
            </p>
            <ul class="flex flex-wrap items-center">
              <li>
                <a
                  href="javascript:void(0)"
                  class="bg-primary inline-flex items-center justify-center rounded-lg py-4 px-6 text-center text-base font-normal text-white hover:bg-opacity-90 sm:px-10 lg:px-8 xl:px-10"
                >
                  Get Started
                </a>
              </li>
              <li>
                <a
                  class="group relative inline-block overflow-hidden border border-principal-600 px-8 py-3 focus:outline-none focus:ring"
                  href="/download"
                >
                  <span
                    class="absolute inset-y-0 right-0 w-[2px] bg-principal-600 transition-all group-hover:w-full group-active:bg-principal-500"
                  ></span>

                  <span
                    class="relative text-sm font-medium text-principal-600 transition-colors group-hover:text-white"
                  >
                    CONTACTaños
                  </span>
                </a>

                <!-- Border -->
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full px-4 lg:w-6/12">
          <div class="lg:ml-auto lg:text-right">
            <div class="relative z-10 inline-block pt-11 lg:pt-0">
              <img
                src="/imagenes/banner/banner-2.jpg"
                alt="hero"
                class="max-w-full lg:ml-auto hover:scale-125"
              />
              <span class="absolute -left-8 -bottom-8 z-[-1]">
                <svg
                  width="93"
                  height="93"
                  viewBox="0 0 93 93"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="2.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                </svg>
              </span>
            </div>
          </div>

          <div class="lg:ml-auto lg:text-right mt-10">
            <div class="relative z-10 inline-block pt-11 lg:pt-0">
              <img
                src="/imagenes/banner/banner-6.jpg"
                alt="hero"
                class="max-w-full lg:ml-auto hover:scale-125"
              />
              <span class="absolute -rigth-8 -bottom-8 z-[-1]">
                <svg
                  width="93"
                  height="93"
                  viewBox="0 0 93 93"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="2.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="2.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="24.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="46.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="68.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="2.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="24.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="46.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="68.5" r="2.5" fill="#3056D3"></circle>
                  <circle cx="90.5" cy="90.5" r="2.5" fill="#3056D3"></circle>
                </svg>
              </span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- ====== Hero Section FIN -->
  <MapaCorreo/>
</Layout>
<style>
  @media (min-width: 640px) {
    .service-left {
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }
    .service-right {
      -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }

    .service-poligono {
      -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    }
  }

  .object-cover {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .object-center {
    -o-object-position: center;
    object-position: center;
  }
  .object-fill {
    -o-object-fit: fill;
    object-fit: fill;
  }
  .h-80 {
    height: 20rem;
  }
</style>
