<section class="text-gray-600 body-font relative">
    <div class="absolute inset-0 bg-gray-300">
        <iframe 
        title="Mapa de Google Maps ubica el taller de Adler"
        class="block m-auto w-full bg-transparent bg-gray-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.486955839093!2d-77.0694329!3d-12.009960099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ceefc2913bb1%3A0xd741c5a2826f4c65!2sJir%C3%B3n%20Tom%C3%A1s%20Catari%20825%2C%20Lima%2015302!5e0!3m2!1sen!2spe!4v1678383556496!5m2!1sen!2spe" 
        width="100%" 
        height="100%" 
        style="border:0; filter: grayscale(0.6) contrast(1.8) opacity(0.8);" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
    </div>
    <div class="container px-5 py-24 mx-auto flex">
        <div class="lg:w-1/3 md:w-1/2 bg-principal-900 [&_input]:text-marron [&_textarea]:text-xl [&_input]:text-xl [&_te]:text-xl [&_label]:bg-white rounded-t-3xl p-2 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-[100] shadow-md">            
            <form id="envio-correo">
                <div class="flex flex-col px-7 py-2 bg-slate-200  w-full rounded-t-3xl">
                    <div class="text-xl font-semibold">
                        <h1 class="text-3xl">Enviar mensaje</h1>
                    </div>
                    <div class="flex flex-col md:flex-row ">
                        <div class="">
                            <input type="text" name="from_name" id="from_name" placeholder="Nombres" class="w-full border-2 border-white px-3 py-1 text-xl outline-none placeholder:text-black placeholder:opacity-40 mt-4 mr-2 focus:border-gray-500 duration-200 ease-in-out rounded-lg" required>
                        </div>
                        <div class="">
                            <input type="text" name="from_apellidos" id="from_apellidos" placeholder="Apellidos" class="w-full md:w-[95%] border-2 border-white px-3 py-1 text-xl outline-none placeholder:text-black placeholder:opacity-40 mt-4 md:ml-2 focus:border-gray-500 duration-200 ease-in-out rounded-lg">
                        </div>
                    </div>

                    <input type="email" name="email_id" id="email_id" placeholder="correo@compania.com" class="w-full border-2 border-white text-xl outline-none px-3 py-1 placeholder:text-black placeholder:opacity-40 mt-4 focus:border-gray-500 duration-200 ease-in-out rounded-lg" required>
                    
                    <input type="number" name="num_celular" id="num_celular" placeholder="991152427" class="w-full border-2 border-white text-xl outline-none px-3 py-1 placeholder:text-black placeholder:opacity-40 mt-4 focus:border-gray-500 duration-200 ease-in-out rounded-lg" max="999999999" min="900000000" required>
                    
                    <textarea id="message" name="message" placeholder="Escribir un mensaje" class="mb-3 w-full border-2 border-white h-44 text-xl outline-none placeholder:text-black placeholder:opacity-40 focus:border-gray-500 py-1 px-3 mt-4 resize-none leading-6 duration-200 ease-in-out rounded-lg" required></textarea>
                    
                    <button class="bg-marron hover:bg-marron-500 w-full font-semibold text-white uppercase px-24 py-5 rounded-md text-center mx-auto my-3 rounded-lg rounded-bl-lg text-2xl" id="btn-contact">
                        <svg id="spinerflecha" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="inline hidden bi bi-arrow-repeat animate-spin" viewBox="0 0 16 16">
      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
    </svg> <span id="text-enviar">ENVIAR</span>
                    </button>
                </div>
            </form>
        </div>
    <a class="hidden sendthank" href="/gracias">gracias</a>
    </div>
</section>


<script>
    const btn = document.getElementById('btn-contact');
    const txt = document.getElementById('text-enviar');
    const spinerflecha = document.getElementById('spinerflecha')
    const input_nombre = document.getElementById("from_name")
    const input_correo = document.getElementById("email_id")
    const input_celular = document.getElementById("num_celular")
    const input_message = document.getElementById("message")

    document.getElementById('envio-correo')
    .addEventListener('submit', function(event) {
        event.preventDefault();
        let envio = false
        let msn = 'Falso'
        
        let nombre = input_nombre.value;
        let correo = input_correo.value;
        let celular = input_celular.value;
        let message = input_message.value;

        txt.html = 'Enviando...';
        spinerflecha.classList.remove('hidden');
        btn.classList.remove('bg-marron')
        btn.classList.add('bg-marron-500')
        

        const serviceID = 'default_service';
        const templateID = 'template_q0oth5i';

        emailjs.sendForm(serviceID, templateID, this)
        .then(() => {
            btn.value = 'Enviar';
            document.querySelector("a.sendthank").click()
        }, (err) => {
            btn.value = 'Send Email';
            alert(JSON.stringify(err));
        });
        
    });

</script>