---
import Articuloinicio from "@components/servicios/Articuloinicio.astro";
---

<section class="bg-white pt-5 pb-[100px]">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
        <section
            class="relative flex h-32 sm:h-80 items-end bg-principal lg:col-span-5 lg:h-full xl:col-span-6"
        >
            <img
                alt="Night"
                src="/imagenes/cajasinicio/seguridad-laboral.JPG"
                class="absolute inset-0 h-full w-full object-cover opacity-80"
            />

            <div
                class="hidden lg:relative bg-principal object-cover opacity-80 lg:block lg:p-12"
            >
                <a class="block text-white" href="/">
                    <span class="sr-only">Home</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-20 sm:h-28"
                        viewBox="0 0 779 422"
                        fill="none"
                        ><path
                            fill="#F8AF3E"
                            stroke="#fff"
                            stroke-width="6"
                            d="m639.134 216.476-48.263 121.893 139.714-147.507-43.045 2.598 70.447-125.639-59.509 16.386 28.673-59.472-74.289 24.739-48.065 100.365 37.943-4.656-43.263 82.7 39.657-11.407Z"
                        ></path><path
                            fill="#ffffff"
                            d="M0 196.5h84V114c0-19.2 15.667-23 23.5-22.5H626L665.5 9H37C7.4 9 0 33.666 0 46v150.5Z"
                        ></path><path
                            fill="#ffffff"
                            d="M0 385V235.5h84V315c0 18.4 15.333 23 23 23h518l41.5 84H37c-29.6 0-37-24.667-37-37Z"
                        ></path><path
                            fill="#ffffff"
                            d="m287.54 134.298 25.749-.47c4.292-.079 5.335 1.601 3.13 5.039l-76.072 118.609c-8.599 13.408-19.663 23.888-33.191 31.44-13.418 7.38-28.096 11.216-44.036 11.507l-30.654.559c-16.144.295-26.295-3.087-30.452-10.147-4.156-7.059-1.88-17.378 6.83-30.958l15.545-24.238c2.315-3.61 5.618-5.454 9.91-5.532l26.055-.476c4.292-.078 5.28 1.688 2.965 5.298l-14.553 22.69c-3.528 5.501-4.735 9.43-3.622 11.788 1.427 2.183 5.309 3.216 11.644 3.1l18.086-.33c6.539-.119 11.854-1.32 15.943-3.604 4.201-2.455 8.065-6.433 11.593-11.933l74.914-116.804c2.315-3.61 5.721-5.456 10.216-5.538ZM359.144 296.844l-100.85 1.841c-4.291.079-5.279-1.687-2.964-5.297l99.389-154.965c2.315-3.61 5.619-5.454 9.91-5.533l26.056-.475c4.291-.079 5.28 1.687 2.964 5.297l-82.687 128.923c-1.212 1.891-.592 2.814 1.86 2.769l64.679-1.181c4.087-.074 4.918 1.779 2.492 5.561l-11.245 17.534c-2.315 3.609-5.517 5.452-9.604 5.526ZM470.484 294.812l-33.413.61c-16.144.294-26.294-3.088-30.451-10.147s-1.881-17.379 6.829-30.959l52.423-81.737c8.71-13.58 19.774-24.06 33.192-31.44 13.417-7.38 28.198-11.217 44.343-11.512l33.412-.61c15.94-.291 25.933 3.179 29.98 10.41 4.361 7.056 2.242 17.287-6.358 30.695l-7.772 12.119c-2.426 3.782-5.886 5.714-10.382 5.796l-25.749.47c-4.292.078-5.225-1.773-2.799-5.555l6.78-10.572c3.528-5.501 4.578-9.342 3.15-11.525-1.113-2.358-4.939-3.477-11.478-3.358l-20.845.381c-6.335.116-11.705 1.403-16.109 3.862-4.09 2.283-7.899 6.175-11.427 11.675l-50.439 78.643c-3.528 5.501-4.735 9.43-3.622 11.789 1.428 2.182 5.309 3.215 11.644 3.1l20.845-.381c6.539-.119 11.854-1.32 15.944-3.604 4.404-2.458 8.37-6.438 11.898-11.939l6.781-10.572c2.425-3.781 5.784-5.711 10.075-5.79l25.749-.47c4.496-.082 5.531 1.768 3.106 5.55l-7.773 12.119c-8.599 13.408-19.765 23.889-33.498 31.445-13.418 7.38-28.096 11.216-44.036 11.507Z"
                        ></path></svg>
                </a>

                <h2
                    class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl"
                >
                    Bienvenidos
                </h2>

                <p class="mt-4 leading-relaxed text-lg text-white">
                    Somos profesionales con más de 15 años de Experiencia, con
                    cursos y Diplomados en Seguridad.
                </p>
            </div>
        </section>

        <main
            aria-label="Main"
            class="flex items-center justify-center px-8 sm:px-12 lg:col-span-7 lg:px-16 xl:col-span-6"
        >
            <div class="max-w-xl lg:max-w-3xl">
                <div class="relative -mt-16 block lg:hidden">
                    <a
                        class="inline-flex h-20 w-20 items-center justify-center bg-white text-blue-600 sm:h-32 sm:w-32"
                        href="/"
                    >
                        <span class="sr-only">Home</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-20 sm:h-28"
                            viewBox="0 0 779 422"
                            fill="none"
                            ><path
                                fill="#F8AF3E"
                                stroke="#fff"
                                stroke-width="6"
                                d="m639.134 216.476-48.263 121.893 139.714-147.507-43.045 2.598 70.447-125.639-59.509 16.386 28.673-59.472-74.289 24.739-48.065 100.365 37.943-4.656-43.263 82.7 39.657-11.407Z"
                            ></path><path
                                fill="#00004C"
                                d="M0 196.5h84V114c0-19.2 15.667-23 23.5-22.5H626L665.5 9H37C7.4 9 0 33.666 0 46v150.5Z"
                            ></path><path
                                fill="#52A567"
                                d="M0 385V235.5h84V315c0 18.4 15.333 23 23 23h518l41.5 84H37c-29.6 0-37-24.667-37-37Z"
                            ></path><path
                                fill="#00004C"
                                d="m287.54 134.298 25.749-.47c4.292-.079 5.335 1.601 3.13 5.039l-76.072 118.609c-8.599 13.408-19.663 23.888-33.191 31.44-13.418 7.38-28.096 11.216-44.036 11.507l-30.654.559c-16.144.295-26.295-3.087-30.452-10.147-4.156-7.059-1.88-17.378 6.83-30.958l15.545-24.238c2.315-3.61 5.618-5.454 9.91-5.532l26.055-.476c4.292-.078 5.28 1.688 2.965 5.298l-14.553 22.69c-3.528 5.501-4.735 9.43-3.622 11.788 1.427 2.183 5.309 3.216 11.644 3.1l18.086-.33c6.539-.119 11.854-1.32 15.943-3.604 4.201-2.455 8.065-6.433 11.593-11.933l74.914-116.804c2.315-3.61 5.721-5.456 10.216-5.538ZM359.144 296.844l-100.85 1.841c-4.291.079-5.279-1.687-2.964-5.297l99.389-154.965c2.315-3.61 5.619-5.454 9.91-5.533l26.056-.475c4.291-.079 5.28 1.687 2.964 5.297l-82.687 128.923c-1.212 1.891-.592 2.814 1.86 2.769l64.679-1.181c4.087-.074 4.918 1.779 2.492 5.561l-11.245 17.534c-2.315 3.609-5.517 5.452-9.604 5.526ZM470.484 294.812l-33.413.61c-16.144.294-26.294-3.088-30.451-10.147s-1.881-17.379 6.829-30.959l52.423-81.737c8.71-13.58 19.774-24.06 33.192-31.44 13.417-7.38 28.198-11.217 44.343-11.512l33.412-.61c15.94-.291 25.933 3.179 29.98 10.41 4.361 7.056 2.242 17.287-6.358 30.695l-7.772 12.119c-2.426 3.782-5.886 5.714-10.382 5.796l-25.749.47c-4.292.078-5.225-1.773-2.799-5.555l6.78-10.572c3.528-5.501 4.578-9.342 3.15-11.525-1.113-2.358-4.939-3.477-11.478-3.358l-20.845.381c-6.335.116-11.705 1.403-16.109 3.862-4.09 2.283-7.899 6.175-11.427 11.675l-50.439 78.643c-3.528 5.501-4.735 9.43-3.622 11.789 1.428 2.182 5.309 3.215 11.644 3.1l20.845-.381c6.539-.119 11.854-1.32 15.944-3.604 4.404-2.458 8.37-6.438 11.898-11.939l6.781-10.572c2.425-3.781 5.784-5.711 10.075-5.79l25.749-.47c4.496-.082 5.531 1.768 3.106 5.55l-7.773 12.119c-8.599 13.408-19.765 23.889-33.498 31.445-13.418 7.38-28.096 11.216-44.036 11.507Z"
                            ></path></svg>
                    </a>

                    <h1
                        class="mt-2 text-2xl font-bold text-principal-900 sm:text-3xl md:text-4xl"
                    >
                        Servicios
                    </h1>

                    <p class="mt-4 mb-4 leading-relaxed text-principal text-lg">
                        Somos profesionales con mas de 15 años de Experiencia,
                        con cursos y Diplomados en Seguridad.
                    </p>
                </div>

                <div>
                    <Articuloinicio />
                </div>
            </div>
        </main>
    </div>
</section>
