---
import Cuadricula10x10 from "./Cuadricula10x10.astro";
---

<section class="overflow-hidden pb-12 border-y-principal-500 border-4">
    <div class="container mx-auto">
        <div class="-mx-4 flex flex-wrap items-center justify-between">
            <div class="w-full px-4 lg:w-6/12">
                <div class="-mx-3 flex items-center sm:-mx-4">
                    <div class="w-full px-3 sm:px-4 xl:w-1/2">
                        <div class="py-3 sm:py-4">
                            <img
                                src="/imagenes/cajasinicio/nosotros-somos-calificados.png"
                                alt="Somos calificados"
                                class="w-full rounded-2xl"
                            />
                        </div>
                        <div class="py-3 sm:py-4">
                            <img
                                src="/imagenes/cajasinicio/consultoria.jpg"
                                alt="Consultoría"
                                class="w-full rounded-2xl"
                            />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:px-4 xl:w-1/2">
                        <div class="relative z-10 my-4">
                            <img
                                src="/imagenes/cajasinicio/nosotros-lideres.png"
                                alt="Somos lideres"
                                class="w-full rounded-2xl"
                            />
                            <span class="absolute -right-7 -bottom-7 z-[-1]">
                                <Cuadricula10x10 ancho="134" alto="106" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
                <div class="mt-10 lg:mt-0">
                    <span class="text-primary mb-2 block text-lg font-semibold">
                        Por qué elegirnos
                    </span>
                    <h2 class="text-principal mb-8 text-3xl font-bold sm:text-4xl">
                        JCL Consultoría y Proyectos.
                    </h2>
                    <p class="text-principal mb-8 text-base">
                        Contamos con Ingenieros Electricistas y especialistas en
                        diseño de proyectos eléctricos en media y baja tensión,
                        ingeniería de detalles, Memorias Descriptivas, Memorias
                        de Cálculos, Especificaciones Técnicas y planos
                        eléctricos en general; para el desarrollo de los mismos
                        nos basamos en el Código Nacional de Electricidad y
                        normas internacionales como IEC, ANSI, VDE, etc.
                    </p>
                    <p class="text-principal mb-8 text-base">
                        La supervisión de nuestras obras está dirigidos por
                        profesionales de larga trayectoria y experiencia
                        comprobada, garantizando el fiel cumplimiento de lo
                        estipulado en los planos y normas eléctricas vigentes.
                    </p>
                    <p class="text-principal mb-8 text-base">Fomentando la Cultura de Prevención</p>
                    <a
                        href="/contactanos"
                        class="bg-principal inline-flex items-center justify-center rounded-lg py-4 px-10 text-center text-base font-normal text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
                    >
                        Contactanos
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
