---
import Cuadricula5x5 from "./Cuadricula5x5.astro";
import Contactanos from "@components/principal/Contactanos.astro";
---

<section class="pt-5 border-y-principal-500 border-4 pb-10">
    <div class="relative">
        <div class="container mx-auto">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full lg:px-4 md:px-4 px-8 lg:w-6/12">
                    <div class="hero-content">
                        <h1
                            class="text-principal mb-3 txt-principal text-4xl font-bold leading-snug sm:text-[42px] lg:text-[40px] xl:text-[42px]"
                        >
                            PROTEGE A TU
                            <br />
                            PERSONAL Y<br />
                            TUS EQUIPOS.
                        </h1>
                        <p
                            class="text-principal txt-principal mb-8 max-w-full text-lg"
                        >
                            Los errores en un <b>Sistema Eléctrico</b>
                            representan un riesgo para la integridad de los
                            operarios y también para las máquinas que están
                            manipulando. Y el alcance varia desde lesiones menores
                            hasta el deceso de una persona. Análogamente, en
                            las operaciones se pueden presentar fallas o daños
                            costosos e irreparables alos equipos e instalaciones.
                            <b>Nuestro equipo ofrece soluciones</b> a diversos problemas
                            <b>de redes de energía</b>.
                        </p>
                        <div class="mt-5">
                            <Contactanos />
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 lg:w-6/12">
                    <div class="lg:ml-auto lg:text-right">
                        <div class="relative z-10 inline-block pt-11 lg:pt-0">
                            <img
                                src="/imagenes/cajasinicio/seguridad-eclectrica-panel.png"
                                alt="Panel eléctrico"
                                class="max-w-full lg:ml-auto"
                            />
                            <span class="absolute -left-10 -bottom-10 z-[-1]">
                                <Cuadricula5x5 />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
