---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/principal/Banner.astro";
import Contenedor from "@components/principal/Contenedor.astro";
import Detalleservicio from "@components/servicios/Detalleservicio.astro";
import { asesoria } from "@utils/data";
---

<Layout title="Servicios - Asesoría" desc="Asesoría indeci ">
  <main>
    <Banner title="Servicios / Asesoría" paddin="32" img="banner/banner-energia.jpg" />
  </main>
  <Contenedor>
    <Detalleservicio {...asesoria} />
  </Contenedor>
</Layout>
