---
import Layout from "@layouts/PageLayout.astro";
import Banner from "@components/principal/Banner.astro";
import Contenedor from "@components/principal/Contenedor.astro";
import Detalleservicio from "@components/servicios/Detalleservicio.astro";
import { adicionales } from "@utils/data";

const meta = {
  title: "Servicios - Ascesoria",
  description: "Empresa dedicada a consultoria y proyectos",
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main>
    <Banner title="Servicios / Adicionales" paddin="32" img="cajasinicio/servicios-adicionales.png" />
  </main>
  <Contenedor>
    <Detalleservicio {...adicionales} />
  </Contenedor>
</Layout>
