---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/principal/Banner.astro";
import Contenedor from "@components/principal/Contenedor.astro";
import Articuloservicios from "@components/servicios/Articuloservicios.astro";
---

<Layout title="Servicios" desc="Agiliza tus trámites de suministro eléctrico: enel y luz del sur">
  <main>
    <Banner title="Servicios" paddin="32" img="banner/banner-energia.jpg" />
  </main>
  <Contenedor paddin="20">
    <div class="w-full mx-auto bg-white shadow-md overflow-hidden">
      <section>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
          <Articuloservicios />
        </div>
      </section>
    </div>
  </Contenedor>
</Layout>
