---
import '@assets/styles/base.css';

import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

export interface Props {
	title: string;
	desc?: string;
  	ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.png" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "JLC"
  : "JLC — Consultora de proyectos electricos";
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <SEO
        title={makeTitle}
        description={desc ||
            "JLC es una empresa de consultoria y proyectos"}
        canonical={canonicalURL}
        twitter={{
            creator: "@surjithctly",
            site: "@web3templates",
            card: "summary_large_image",
        }}
        openGraph={{
            basic: {
            url: canonicalURL,
            type: "website",
            title: `JLC - Empresa de consultoria y proyectos electricos`,
            image: resolvedOGImage,
            },
            image: {
            alt: "JLC Imagen",
            },
        }}
        />
  </head>

    <body class="antialiased text-page bg-light tracking-tight">
        <slot />
        <style is:global>
            img {
            content-visibility: auto;
            }
        </style>
    </body>
</html>
<style>
	@font-face {
		font-family: 'Archivo';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/noto.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Archivo Bold';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/notob.woff2') format('woff2');
	}
  @font-face {
		font-family: 'Letra';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/cambria.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Letra Bold';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/cambriab.woff2') format('woff2');
	}

  html, body {
    font-family: 'Letra';
  }
  h1 {
    font-family: 'Letra bold';
  }
  </style>
  <script language="javascript" type="text/javascript" src="/js/typed.umd.js"></script>
  <script language="javascript" type="text/javascript" src="/js/vivus.js"></script>
  