---
import Header from "@components/principal/Header.astro";
import Footer from "@components/principal/Footer.astro";
import { headerData, footerMenu } from "@utils/data";
import Whatsaap from "@components/principal/Whatsaap.astro";

import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc } = Astro.props;

const ogimage = "/opengraph.png"

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? "JLC" + " | " + title
  : "JLC | Consultora de proyectos eléctricos";

---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <SEO
        title={makeTitle}
        description={desc}
        canonical={canonicalURL}
        openGraph={{
            basic: {
            url: canonicalURL,
            type: "website",
            title: `JLC - Consultoría y proyectos eléctricos`,
            image: resolvedOGImage,
            },
            image: {
            alt: "JLC Imagen",
            },
        }}
        />
  </head>

    <body class="antialiased text-page bg-light tracking-tight">
        <Header {...headerData} isSticky showRssFeed showToggleTheme />
        <slot />
        <Footer {...footerMenu} />
        <Whatsaap />
        <style is:global>
            img {
            content-visibility: auto;
            }
            .dropdown:hover .dropdown-menu {
              display: block;
            }
        </style>
    </body>
</html>
<style>
	@font-face {
		font-family: 'Archivo';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/noto.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Archivo Bold';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/notob.woff2') format('woff2');
	}
  @font-face {
		font-family: 'Letra';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/cambria.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Letra Bold';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/cambriab.woff2') format('woff2');
	}

  html, body {
    font-family: 'Letra';
  }
  h1 {
    font-family: 'Letra bold';
  }
  </style>
  <script language="javascript" type="text/javascript" src="/js/typed.min.js"></script>
  <script language="javascript" type="text/javascript" src="/js/vivus.js"></script>