---
import Layout from '@layouts/PageLayout.astro';

export function getStaticPaths() {
  return [
    {params: {proyecto: 'subestacion'}},
    {params: {proyecto: 'lineadecontrol'}},
    {params: {proyecto: 'lineadepotencia'}},
    {params: {proyecto: 'diseniodeingenieria'}},
  ];
}

const { proyecto } = Astro.params;

const meta = {
  title: 'Proyecto '+proyecto,
  description: 'Empresa dedicada a consultoria y proyectos',
  dontUseTitleTemplate: true,
};
---

<Layout {meta}> 
  
<div style="height: 1024px;">¡Buen chico, {proyecto}!</div>
</Layout>